<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm mới</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="app">
    <header id="header">
        <h2>Phần mềm quản lý</h2>
    </header>
    <main id="main">
        <aside class="aside">
            <h2>Dashboards</h2>
            <ul>
                <li><a href="/product/">Default</a></li>
                <li><a href="">Other</a></li>
            </ul>
        </aside>
        <section class="section">
            <div class="main-form">
                <h2>Tạo dữ liệu mới</h2>
                <form action="/product/create" class="form" method="post" th:object="${product}">
                    <input type="text" class="input-q1" placeholder="Nhập mã sản phẩm"  th:field="*{codeName}" readonly>
                    <small th:if="${#fields.hasErrors('codeName')}" th:errors="*{codeName}"></small>

                    <input type="text" class="input-q1" placeholder="Nhập tên sản phẩm"  th:field="*{name}">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

                    <select name="" id="" th:field="*{category}" class="input-q1">
                        <option th:each="category: ${category}" th:value="${category.id}" th:text="${category.typeName}"></option>
                    </select>
                    <input type="text" class="input-q1" placeholder="Nhập giá"  th:field="*{price}">

                    <input type="date" class="input-q1" placeholder="Nhập ngày sản xuất"  th:field="*{dateSx}">
                    <small th:if="${#fields.hasErrors('dateSx')}" th:errors="*{dateSx}"></small>

                    <input type="date" class="input-q1" placeholder="Nhập hết hạn"  th:field="*{dateHh}">
                    <small th:if="${#fields.hasErrors('endDateAfterStartDate')}" th:errors="*{endDateAfterStartDate}"></small>

                    <input type="text" class="input-q1" placeholder="Nhập ghi chú"  th:field="*{about}">
                    <button type="submit" class="submit">Tạo dữ liệu</button>
                </form>
            </div>
            <div class="back">
                <a href="/product">&larr; Trở về danh sách</a>
            </div>
        </section>
    </main>
    <footer id="footer">

    </footer>
</div>
</body>
</html>