<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm mới</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="app">
    <header id="header">
        <h2>Phần mềm quản lý</h2>
    </header>
    <main id="main">
        <aside class="aside">
            <h2>Dashboards</h2>
            <ul>
                <li><a href="/product">Default</a></li>
                <li><a href="">Other</a></li>
            </ul>
        </aside>
        <section class="section">

            <div class="back">
                <a href="/product">&larr; Trở về danh sách</a>
            </div>
        </section>
    </main>
    <footer id="footer">

    </footer>
</div>
</body>
</html>